.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

.container {
    // width: var(--default-layout-width);
    width: 100%;
    display: flex;
    // margin-top: var(--default-layout-header-height);
}

.content {
    flex: 1;
    // height: var(--default-layout-container-height);
}
