.wrapper {
    display: flex;
}

.menu-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--gray-blue);
    border: 1px solid transparent;

    cursor: pointer;

    &.active {
        color: var(--gray-blue);
    }

    &:hover {
        text-decoration: underline;
    }
}

.item-title {
    margin-right: 5px;
}

// Menu children
.children {
    padding: 6px 8px;
}

.children-item {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--gray-blue);
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
        background: rgba(22, 24, 35, 0.08);
    }
}
